.place-form {
  margin: 1rem ;
}

.place-form label,
.place-form input,
.place-form textarea {
  display: block;
}

.place-form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.place-form input,
.place-form textarea {
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 0.15rem 0.25rem;
}

.place-form input:focus,
.place-form textarea:focus {
  outline: none;
  background: #ebebeb;
  border-color: #510077;
}

.place-form--invalid label,
.place-form--invalid p {
  color: red;
}

.place-form--invalid input,
.place-form--invalid textarea {
  border-color: red;
  background: #ffd1d1;
}
.place-form {
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
}
